extends ../layouts/default

block variables

block content
  canvas(id="gamecanvas")
  img(id="player" src="./assets/images/player.png")
  img(id="rating-window" src="./assets/images/rating-window.png")
  img(id="map" src="./assets/images/map.png")
  img(id="bar" src="./assets/images/bar.png")
  img(id="empty-box" src="./assets/images/box.png")
  img(id="user-box" src="./assets/images/user-box.png")
